<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h1>수료증 발급</h1>
            <form method="POST" action="{{ url_for('login_post') }}">
                <input type="text" class="txtb" name="user_id" placeholder="User ID">
                <input type="password" class="txtb" name="pw" placeholder="Password">
                <button type="submit" class="login-btn">Log In</button>
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="error-box">
                    {% for category, message in messages %}
                        <div class="{{ category }}">{{ message }}</div>
                    {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <a href="#" class="forgot-password">Forgot your password?</a>
        </div>
    </div>
</body>
</html>
